// Variables
@import 'variables';
@import 'dashboard';


// Bootstrap
@import '~bootstrap/scss/bootstrap';

.pricing-card-title {
  .centavos {
    font-size: 16px;
  }
  .meses {
    font-size: 18px;
  }
}

.pricing-header {
  max-width: 450px;
}
.card-deck .card {
  min-width: 220px;
}
